<template>
    <div>
        <h3 class="text-center">Create Customer</h3>
        <div class="row">
            <errors :errors="errors"></errors>
            <div class="col-md-6">
                <form @submit.prevent="addCustomer">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" v-model="customer.name">
                    </div>
                    <div class="form-group">
                        <label>NIC</label>
                        <input type="text" class="form-control" v-model="customer.nic">
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control" v-model="customer.address">
                    </div>
                    <div class="form-group">
                        <label>Contact Numbers</label>
                        <customer-contact :contacts="customer.contacts"></customer-contact>
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import Errors from "../Errors";
import CustomerContact from "../constact/constactComponent";

export default {
    name: "create",
    components: {Errors, CustomerContact},
    data() {
        return {
            customer: {
                contacts: []
            },
            errors: {}
        }
    },
    methods: {
        addCustomer() {
            console.log('workingg')
            console.log(this.customer)
            this.axios.post(this.$url + '/api/customers', this.customer)
                .then(
                    response => (
                        this.$router.push({name: 'home'})
                    )
                )
                .catch(error => {
                    const errorData = error.response
                    if (errorData && errorData.data) {
                        this.errors = errorData.data.errors
                    }
                })
                .finally(() => this.loadin = false)
        }
    }
}
</script>

<style scoped>

</style>
