<template>
    <div>
        <h3 class="text-center">Edit Customer</h3>
        <div class="row">
            <div class="col-md-6">
                <form @submit.prevent="updateCustomer">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" v-model="customer.name">
                    </div>
                    <div class="form-group">
                        <label>NIC</label>
                        <input type="text" class="form-control" v-model="customer.nic">
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control" v-model="customer.address">
                    </div>
                    <div class="form-group">
                        <label>Contact Numbers</label>
                        <customer-contact :contacts="customer.contacts"></customer-contact>
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import CustomerContact from "../constact/constactComponent";

export default {
    name: "edit",
    components: {CustomerContact},
    data() {
        return {
            customer: {},
        }
    },
    created() {
        this.axios.get(this.$url+`/api/customers/${this.$route.params.id}`).then((res) => {
            this.customer = res.data;
        });
    },
    methods: {
        updateCustomer() {
            this.axios.patch(this.$url+`/api/customers/${this.$route.params.id}`, this.customer).then((res) => {
                this.$router.push({name: 'home'});
            });
        }
    }
}
</script>

<style scoped>

</style>
