<template>
    <div>
        <h2 class="text-center">Customer List</h2>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>NIC</th>
                <th>Address</th>
                <th>Contact</th>
                <!--<th>Actions</th>-->
            </tr>
            </thead>
            <tbody>
            <tr v-for="customer in customers" :key="customer.id">
                <td>{{ customer.id }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.nic }}</td>
                <td>{{ customer.address }}</td>
                <td><pre v-for="contact in customer.contacts">
                    {{contact.contact}}
                </pre></td>
                <td>
                    <div class="btn-group" role="group">
                        <router-link :to="{name: 'edit', params: {id: customer.id}}" class="btn btn-success">
                            Edit
                        </router-link>
                        <button class="btn btn-danger" @click="deleteCustomer(customer.id)">Delete</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    name: "index",
    data() {
        return {
            customers: [],
        }
    },
    created() {
        this.getCustomer()
    },
    methods: {
        deleteCustomer(id) {
            this.axios.delete(`api/customers/${id}`).then(response => {
                this.getCustomer()
            });
        },
        getCustomer() {
            this.axios.get(`api/customers/`).then(response => {
                this.customers = response.data;
            });
        }

    }
}
</script>

<style scoped>

</style>
