<template>
    <div class="alert alert-danger" v-if="Object.keys(errors).length > 0">
        <ul>
            <li v-for="error in errors">{{ error }}</li>
        </ul>
    </div>
</template>

<script>
export default {
    name: "Errors",
    props: {
        errors: Object
    },
}
</script>

<style scoped>

</style>
