<style>
.padding5 {
    padding: 5px;
}
</style>
<template>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- {{ myName }}-->
                <div data-role="dynamic-fields" v-for="(contact, index) in contacts" v-bind:key="index">
                    <div class="form-inline">
                        <div class="form-group padding5">
                            <input v-model="contact.id" hidden>

                        </div>
                        <div class="form-group padding5">
                            <label class="sr-only">Contact Number</label>
                            <input type="text" class="form-control" v-model="contact.contact"
                                   placeholder="Contact Number"
                            >
                        </div>
                        <button type="button" class="btn fa fa-trash padding5" @click="removeLine(index)"
                                data-role="add">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>

                    </div>  <!-- /div.form-inline -->
                </div>  <!-- /div[data-role="dynamic-fields"] -->

                <button type='button'
                        class="btn btn-primary fa fa-plus pull-right" @click="addLine" data-role="add">
                    Add New Contact
                    <span class="glyphicon glyphicon-plus"></span>
                </button>

            </div>  <!-- /div.col-md-12 -->
        </div>  <!-- /div.row -->
    </div>
</template>

<script>
export default {
    name: 'CustomerContact',
    props: {
        contacts: Object | String,
    },
    data() {
        return {
            blockRemoval: true,
        }
    },

    watch: {
        contacts() {
            this.blockRemoval = this.contacts.length < 1
        },
    },
    methods: {
        addLine() {
            let checkEmptyLines =  this.contacts.filter(contact => contact.contact === '');

            if (checkEmptyLines.length >= 1 && this.contacts.length > 0) return;

            this.contacts.push({
                id: null,
                contact: '',
            })
        },
        removeLine(lineId) {
            if (!this.blockRemoval)
                this.contacts.splice(lineId, 1)
        },
    },
    mounted() {
        this.addLine();
    },

}

</script>
